$secondary: #abbac9;
$primary: #2272af;
$danger: #B05F21;
$info: #21B0A2;
$dark: #232C33;
$warning: #B08821;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

:root {
    --bs-body-color: var(--bs-dark);
}

.card-text {
    font-size: 10pt;
}

.container {
    background: var(--bs-white);
}

html,
body,
#root {
    height: 100%;
}

hr {
    --bs-border-width: 5px;
    opacity: 1;
    border-radius: 3rem
}

a {
    text-decoration: none;
}

body {
    background: url('/bg.png') var(--bs-light);

    &::-webkit-scrollbar {
        background-color: var(--bs-light);
        width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--bs-dark);
        border-radius: 1px;
    }
}

.fs-18 {
    font-size: 18pt;
}

.fs-16 {
    font-size: 16pt;
}

.fs-14 {
    font-size: 14pt;
}

.fs-12 {
    font-size: 12pt;
}

.fs-10 {
    font-size: 10pt;
}

.fs-8 {
    font-size: 8pt;
}

.logo {
    background: var(--bs-light);
    border-radius: 25%;
}

.timeline-left,
.timeline-right {
    width: 50%;
    padding-bottom: 2rem;

    &>.d-flex {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .timeline-content {
        position: relative;
        border-color: var(--bs-secondary) !important;
        border-width: 4px !important;
    }
}

.timeline-condensed {
    .timeline-left {
        width: 5px;
    }

    .timeline-right {
        width: 100%;

        &>.d-flex {
            padding-right: 0;

            img {
                width: 100% !important;
            }
        }
    }
}

.timeline-left {

    .timeline-content::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 0.5rem;
        width: 0;
        left: 100%;
        border-style: solid;
        border-width: 20px 0 0 40px;
        border-color: transparent transparent transparent var(--bs-secondary);
    }
}

.timeline-right {
    .timeline-content::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 0.5rem;
        width: 0;
        right: 100%;
        border-style: solid;
        border-width: 0 0 20px 40px;
        border-color: transparent transparent var(--bs-secondary) transparent;
    }
}

.card {
    transition: transform .2s;

    &:hover {
        transform: scale(1.1);
    }
}