$primary: #2272af;
$secondary: #B05F21;
$info: #21B0A2;
$dark: #232C33;
$tertiary: #B08821;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

html,
body,
#root {
    height: 100%;
}

body {
    background: var(--bs-light);

    &::-webkit-scrollbar {
        background-color: rgba(219, 219, 219, 1);
        width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--bs-secondary);
        border-radius: 5px;
    }
}

.fs-18 {
    font-size: 18pt;
}

.fs-16 {
    font-size: 16pt;
}

.fs-14 {
    font-size: 14pt;
}

.fs-12 {
    font-size: 12pt;
}

.fs-10 {
    font-size: 10pt;
}

.fs-8 {
    font-size: 8pt;
}
